[submodule "cfssl/osixia/docker-cfssl-multirootca"]
	path = cfssl/osixia/docker-cfssl-multirootca
	url = https://github.com/osixia/docker-cfssl-multirootca.git
[submodule "pires-elastic"]
	path = elastic-sys/kubernetes-elasticsearch-cluster
	url = https://github.com/pires/kubernetes-elasticsearch-cluster.git
[submodule "pulp/pulp-k8s"]
	path = pulp/pulp-k8s
	url = https://github.com/mhrivnak/pulp-k8s.git
