[submodule "cfssl/osixia/docker-cfssl-multirootca"]
	path = cfssl/osixia/docker-cfssl-multirootca
	url = https://github.com/osixia/docker-cfssl-multirootca.git
[submodule "pires-elastic"]
	path = elastic-sys/kubernetes-elasticsearch-cluster
	url = https://github.com/pires/kubernetes-elasticsearch-cluster.git
[submodule "gerrit/image/docker-gerrit"]
	path = gerrit/image/docker-gerrit
	url = https://github.com/openfrontier/docker-gerrit.git
[submodule "gerrit/image/mariadb"]
	path = gerrit/image/mariadb
	url = https://github.com/docker-library/mariadb.git
[submodule "heapster"]
	path = heapster
	url = https://github.com/kubernetes-retired/heapster.git
